body{
    font-family: 'poppins-bold', sans-serif !important;
    margin: 0px;
    padding: 0px;
    background: #191816;
    width: 99vw;
    height: 900px;
}

/*container principal*/
.principal{
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
}


/*container direita*/
.imagemDireita{
    background: url(/img/side-image.png), lightgray 50% / cover no-repeat;
    width: 720px;
    height: 900px;
    flex-shrink: 0;
}

/*container esquerda*/
.loginEsquerda{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*logo*/
.logo{
    display: inline;
    margin-bottom: auto;
    margin-top: 40px;
    margin-left: 40px;
}

.logo > svg, .logo > p{
    display: inline-block;
    color: #D5CCB6;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*container esquerdo*/
/*login*/
.login{
    width: 572px;
    height: 512px;
    margin-left: -50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #24221F;
}


/*titulo*/
.titulo{
    display: inline-block;
    margin-top: 55px;;
    margin-left: 119px;
}

.titulo > svg, .titulo > h1{
    display: inline;
    align-items: center;
    color: #D4CCB6;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/*sub titulo*/
.login > p:nth-child(2){
    width: 334px;
    margin: 5px 0px 27px 119px;
    height: 23px;
    flex-shrink: 0;
    color: #AFB6C2;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.login h3{
    color: #AFB6C2;
    font-size: 16px;
    margin-left: 119px;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*input login e senha*/
.inputUm, .inputDois{
    margin-left: 119px;
    margin-right: 162px;
    display: inline-flex;
    align-items: center;
    padding-left: 12px;
    width: 335px;
    height: 44px;
    flex-shrink: 0;
}

.inputUm{
    border-radius: 4px;
    border: 1px solid #FFC632;
    box-shadow: 0px 0px 0px 2px #FFDE88;
}

.inputDois{
    border-radius: 4px;
    border: 3px solid #868686;
    justify-content: space-between;
}

.inputUm svg, .inputDois svg{
    margin-right: 5px;
}

.inputDois svg:nth-child(2){
    margin-right: 12px;
}

.img{
    display: inline-flex;  
}

.login input{
    background: none;
    border: none;
}

/*linha esqueci a senha*/
.esqueciSenha{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 20px 119px;
    width: 345px;
    height: 44px;
    flex-shrink: 0;
    color: #FFC632;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.esqueciSenha div{
    display: inline-flex;
    align-items: center;
    color: #A9AFB9;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.esqueciSenha p{
    margin-left: 5px;
}

/*checkBox*/
.esqueciSenha div input{
    all: unset;
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #868686;
}

.esqueciSenha div input:checked{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: #FFC632;
    border: 1px solid #FFC632;
}

/*botao*/
button{
    display: flex;
    border: none;
    margin-left: 119px;
    width: 350px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #FFC632;
    color: #473404;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.27px;
    text-transform: uppercase;
}

/*registre-se*/
.login > p:nth-last-child(1){
    display: flex;
    justify-content: center;
    color: #FFC632;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}